body{
margin:0;
font-family:Arial;
background:#f1f3f6;
}

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
background:white;
padding:10px;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

.logo{
height:40px;
}

.cartbox img{
height:28px;
}

.container{
padding:15px;
}

.product{
width:100%;
border-radius:10px;
}

.title{
font-size:20px;
}

.price{
margin-top:5px;
}

.old{
text-decoration:line-through;
color:gray;
}

.new{
color:#27ae60;
font-size:22px;
font-weight:bold;
margin-left:10px;
}

.features{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
margin-top:15px;
}

.feature{
background:white;
padding:10px;
border-radius:8px;
display:flex;
align-items:center;
gap:10px;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

.feature img{
height:25px;
}

.pincode{
display:flex;
margin-top:15px;
}

.pincode input{
flex:1;
padding:10px;
border:1px solid #ddd;
}

.pincode button{
background:#2874f0;
color:white;
border:none;
padding:10px;
}

#pinresult{
margin-top:8px;
color:green;
display:flex;
align-items:center;
gap:5px;
}

.buttons{
display:flex;
gap:10px;
margin-top:15px;
}

.cart{
flex:1;
background:#ff9f00;
border:none;
color:white;
padding:14px;
}

.buy{
flex:1;
background:#fb641b;
border:none;
color:white;
padding:14px;
}

.page{
display:none;
padding:20px;
}

.page input{
width:100%;
padding:12px;
margin:8px 0;
}

.addressbox{
background:white;
padding:10px;
border-radius:8px;
margin-top:10px;
}

.pricebox{
background:white;
padding:10px;
margin-top:10px;
border-radius:8px;
}

.row{
display:flex;
justify-content:space-between;
padding:6px 0;
}

.discount{
color:green;
}

.total{
font-size:18px;
font-weight:bold;
}

.pay{
border:1px solid #ddd;
padding:12px;
margin-top:10px;
border-radius:6px;
}

.active{
border:2px solid #2874f0;
}

.disabled{
opacity:0.5;
}

.qr{
width:200px;
display:block;
margin:auto;
margin-top:15px;
}

.whatsapp{
display:block;
background:#25D366;
color:white;
text-align:center;
padding:12px;
margin-top:15px;
text-decoration:none;
}

footer{
margin-top:30px;
text-align:center;
background:white;
padding:15px;
}

footer img{
width:90%;
}